@model IEnumerable<Assignment.Models.Collection>

@{
    ViewData["Title"] = "Collection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Collection of @ViewBag.UserName</h1>

<a asp-action="BuyPage" asp-route-UserId="@ViewBag.UserId">Buy</a><br />
<a asp-action="BackToUser" asp-route-UserId="@ViewBag.UserId">Back</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Song)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Song.Artist)
            </th>
            <th>
                Operation
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Song.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Song.Artist.Name)
            </td>
            <td>
                <form asp-action="Rate" method="get">
                    <input hidden type="text" name="SongId" value="@item.SongId" />
                    <button type="submit">Rate</button>
                </form>
                <br/>
                <form asp-action="Redeem" method="post">
                    <input hidden type="text" name="SongId" value="@item.SongId" />
                    <input hidden type="text" name="UserId" value="@ViewBag.UserId" />
                    <button type="submit">Redeem</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
<h2>@ViewBag.RedeemInformation</h2>
